/* FONDOS BODY */
.fondo-index{
    background-color: #f8f9fa;
    background-image: url('../img/fondo_login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fondo-home{
    background-color: #161616;
    background-image: url('../img/fondo_home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fondo-explorar{
    background-color: #161616;
    background-image: url('../img/fondo_explorar.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ESTILOS TEXTO */
.bold-label {
    font-weight: bold;
}

.italic-label {
    font-style: italic;
}

/* DIMENSIONES LOGO */
.logo-img {
    height: 30px;
    vertical-align: middle;
}

/* POSTS */
.cards-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.card-post{
    border-radius: 12px; 
    overflow: hidden;}

.btn-primary{
    background-color: #6c63ff;
    border: none;
}

